<article class="article col-md-4 mb-4">
  <div class="card">
    <div class="card-header">
      <%= article.title %>
    </div>

    <div class="card-image">
      <img class="card-img-top" src="<%= article.image %>" alt="Card image">
    </div>

    <div class="card-body">
      <small class="text-muted"><%= t("articles.article.added", date: article.date_added) %></small>
      <p class="card-text"><%= article.description %></p>

      <% options = {
        params: { article_id: article.id, engagement: :likes },
        class: "btn btn-warning like-count",
        title: "Click to Like this item",
        method: :put
      } %>
      <%= button_to article_engagements_path, options do %>
        <%== Octicons::Octicon.new("thumbsup").to_svg %> <%= article.engagement.likes %>
      <% end %>
    </div>
  </div>
</article>
