<div class="container mt-5">
  <h1><%= t("articles.heading") %></h1>
  <p><%= t("articles.intro") %></p>

  <section class="row">
    <div class="col-md-12 mt-4">
      <% if @articles.present? %>
        <div class="row">
          <%= render @articles %>
        </div>
      <% else %>
        <p class="fw-light"><%= t("articles.nothing_found") %></p>
      <% end %>
    </div>
  </section>
</div>
