/*
 *= require_tree .
 *= require_self
 */

.card-image {
	background-color: #999;
	height: 300px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.card-title {
	margin-bottom: 0.5rem;
	min-height: 50px;
}

.card-text {
	min-height: 50px;
}

.like-count	.octicon {
	margin-top: -4px;
	margin-right: 6px;
}
